h2 {
  margin: 0;
}
a {
  color: #ffc600;
}
.videos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  width: 100%;
}
.video {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
  background: #fff;
  border-right: 1px solid #cbcbcb;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.video a.download-button {
  background: #fff;
  width: 100px;
  -ms-flex: 0;
      flex: 0;
  text-align: center;
  min-width: 50px;
}
.video.completed .video-number {
  border-right: 4px solid #008000;
}
.video.completed a.video-link h2:before {
  content: '✓';
  color: #008000;
  padding: 0 5px;
}
.video header.module {
  background: #f1f1f1;
  background: #000;
  width: 100%;
  font-size: 20px;
  padding: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #fff;
}
.video .module-number {
  background: #f00;
  font-size: 12px;
  color: #fff;
  padding: 1px 3px;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
}
.video:last-child a {
  border-bottom: 0;
}
.video p {
  margin: 0;
  clear: both;
  color: #000;
  font-size: 15px;
}
.video span.video-number {
  font-size: 15px;
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  text-align: center;
  border-right: 4px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  color: #7a7a7a;
  font-weight: 400;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.video span.video-number .fa {
  color: #000;
}
.video a {
  border-bottom: 1px solid #e7e7e7 !important;
  border-left: 1px solid #e7e7e7 !important;
  padding: 3px;
  -ms-flex: 1;
      flex: 1;
  cursor: pointer;
  color: #000;
}
.video a.download {
  -ms-flex: 0 1 30px;
      flex: 0 1 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 15px;
}
.video img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 80px;
  height: auto;
}
.video h2 {
  font-size: 17px;
  line-height: 1.6;
  margin-top: -2px;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin: 0;
  background: none;
  color: none;
  -webkit-text-fill-color: inherit;
}
.video h2 .duration {
  font-size: 10px;
  background: #efefef;
  padding: 2px 5px;
  position: relative;
  top: -3px;
  margin-left: 5px;
  color: rgba(0,0,0,0.5);
  border-radius: 4px;
}
.video-details {
  background: #000;
  color: #fff;
}
.video-details h2 {
  font-size: 22px;
}
.video-details p {
  font-size: 15px;
  margin-bottom: 0;
}
.player-buttons {
  overflow: hidden;
  background: #000;
  border-bottom: 1px solid #ffc600;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
}
.player-buttons a {
  border-bottom: 0;
}
.player-button {
  background: #000;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  border-bottom: 0 !important;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 0;
  font-size: 15px;
  cursor: pointer;
  margin-left: 1rem;
  border-right: 1px solid rgba(255,255,255,0.2);
}
.course-details {
  background: rgba(0,0,0,0.05);
  overflow: hidden;
  padding: 2rem;
  margin-top: 2rem;
}
.course-details p {
  margin: 0;
  font-size: 1.2rem;
}
.innerWrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.viewer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1900px;
  margin: 0 auto;
}
.viewer video {
  max-height: 75vh;
}
.viewer__selector {
  -ms-flex: 1 1 400px;
      flex: 1 1 400px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.video__player {
  -ms-flex: 2 0 1000px;
      flex: 2 0 1000px;
}
.videos {
  -ms-flex: 1 1 500px;
      flex: 1 1 500px;
  min-width: 400px;
  overflow: scroll;
  border-left: 1px solid #cbcbcb;
}
a.video-link {
  padding: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.video__nowplaying {
  display: -ms-flexbox;
  display: flex;
}
.video__nowplaying > * {
  padding: 10px;
}
.video__title {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-right: 1px solid rgba(0,0,0,0.3);
}
.video__journey {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 70px;
      flex-basis: 70px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.video__description {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding: 10px;
}
.jumper {
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.jumper__button {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 10px;
  text-align: left;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.jumper__button--next {
  text-align: right;
  border-left: 1px solid rgba(0,0,0,0.3);
}
.jumper__desc {
  width: 100%;
  font-size: 12px !important;
}
.jumper__title {
  color: #fff;
}
.video__caption-description {
  padding: 5px;
  text-align: center;
}
@media (max-width: 1000px) {
  .video__player {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media (max-width: 500px) {
  .player-buttons {
    display: none;
  }
}
body {
  background: #fff;
  font-size: 1rem;
}
.top-bar {
  background: #193549;
  border-bottom: 5px solid #ffc600;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.top-bar:before,
.top-bar:after {
  display: none;
}
.top-bar ul {
  background: none;
  color: #fff;
}
.top-bar ul a {
  color: #fff;
}
.dashboard {
  padding: 2rem;
}
.purchases {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.purchase {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 46%;
  padding: 3rem;
  margin-bottom: 4rem;
  background: #f7f7f7;
  border: 1px solid #ebebeb;
}
.purchase .banner {
  width: calc(100% + 6rem);
  left: -3rem;
  top: -3rem;
  margin-bottom: -1.5rem;
  position: relative;
  max-width: none;
}
.purchase .favicon {
  width: 25px;
  margin-right: 10px;
  display: inline-block;
}
.purchase h5 {
  border-bottom: 2px solid #ffc600;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.button {
  background: #ffc600;
  color: #000;
}
.button:hover {
  color: #000;
  background: #ffd133;
}
.callout.error {
  background: #fcc;
}
.spots {
  border: 1px solid #cbcbcb;
}
.spot {
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #cbcbcb;
}
.spot__number {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #cbcbcb;
  width: 50px;
}
.spot p {
  margin: 0;
  padding: 1rem;
}
.spot__form {
  display: -ms-flexbox;
  display: flex;
}
.spot__form input,
.spot__form select {
  margin: 1rem;
}
.spot__form input + input,
.spot__form select + input,
.spot__form input + select,
.spot__form select + select {
  margin-left: 0;
}
.offer {
  font-size: 12px;
  background: #fff;
  padding: 10px;
  border: 1px dashed #cbcbcb;
  margin-top: 10px;
}
.offer code {
  margin-right: 10px;
}
@media (max-width: 750px) {
  .purchase {
    width: 100%;
    padding: 1rem;
  }
  .purchase .banner {
    width: calc(100% + 2rem);
    left: -1rem;
    top: -1rem;
    margin-bottom: 0rem;
  }
}
@media (max-width: 500px) {
  .top-bar-right,
  .top-bar-left {
    width: 100%;
    float: none;
  }
  .menu > li {
    padding: 0;
  }
  .menu > li > a {
    padding: 5px;
  }
  .videos {
    min-width: 0;
  }
}
